.hamburger {
  height: 20px;

  box-shadow: inset 0px 4px white, inset 0px 8px $primary, inset 0px 12px white,
    inset 0px 16px $primary, inset 0px 20px white;
  width: min-content;
  margin-left: 5vw;
  width: 30px;
  margin: 0.8rem 2rem;

  @media (min-width: $mobile) {
    display: inline-block;
  }

  @media (min-width: $tablet) {
    display: none;
  }
  & button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
  }
}
